node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
dist
# COMMIT ENV FILE FOR TESTING PURPOSES
# .env
# .env.local
# .env.*.local
Dockerfile
.dockerignore
*.swp
*.swo
*.tmp
.vscode/
.idea/
.DS_Store
Thumbs.db
